{% extends "base-new.html" %}

{% block content %}

	<div class="column column-restricted central-padding-small">
		<div class="column-narrow align-center">
			<h1>Legality</h1>
			<p>Community.dj provides its service by utilising pre-licensed music libraries such as youtube. To avoid issues surrounding royalties and licensing fees we do not hold any assets or resources relating to creators content, this helps us keep our service free for our users.</p>
			<p>All content streaming via youtube is done under their <a href="https://www.youtube.com/yt/copyright/fair-use.html">fair use policy</a> and any subscription fee that we charge is relative to the service that we provide. This fee relates to user features and lobby creation/limits which results in extra load on our servers. The fee is not related to content streaming which is provided to all users for free. These subscription fees are required to ensure future development of community.dj.</p>
			<p>We follow youtubes terms of service, for more information please visit <a href="https://developers.google.com/youtube/terms">https://developers.google.com/youtube/terms</a></p>
		</div>
	</div>

{% endblock %}